<head>
    <title>YogEck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/list.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
    <header>
        <figure>
            <img src="/static/img/logoApp.png">
        </figure>
    </header> 
    {%for activity in activities%}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{activity.id}}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{activity.id}}" aria-expanded="true" aria-controls="collapse{{activity.id}}">
              {{activity.title}}
            </a>
          </h4>
        </div>
        <div id="collapse{{activity.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{activity.id}}">
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-6">
                  {{activity.text}}
                  <br>
                  {%if activity.location%}
                    <a class="btn btn-info" href="{{activity.location}}" target="_blank">Map</a>
                  {%endif%}
                  <button class="btn btn-danger" class="check-act" {%if activity.done%}disabled{%endif%} target="_blank">Check</button>
                  </div>
                  <div class="col-md-6">
                      <figure>
                      <img height="300" width="300" src="{{activity.photo}}" />
                      </figure>
                  </div>
              </div>
          </div>
        </div>
      </div>
    {%endfor%}
    </div>
    </div>
  </div>


</body>
