<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img src="#" /> <!--Muñequito -->
                    </figure>
                </div>
                <div class="col-md-6" id="challenges">
                    <figure>
                        <img src="#" /> <!--Cada desafio cumplido con una imagen -->
                    </figure>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </body>
</html>